<!DOCTYPE html>
<html lang="en">
<head>
    <title>epever control</title>
    <script language="javascript" type="text/javascript">
        const lvNormal = 0;
        const lvError = 1;
        const flgon = 2;
        const flgoff = 9;

        function onload(){
                if (validation() === lvNormal) {
                    document.getElementById("msg").innerText = "";

                }
                else{
                    document.getElementById("msg").innerText = "Validation error. Check input values.";
                }
        }

        function change_input(){
                if (validation() === lvNormal) {
                    document.getElementById("msg").innerText = "";
                }
                else{
                    document.getElementById("msg").innerText = "Validation error. Check input values.";
                }
        }

        function change_input2(){
                if (validation3() === lvNormal) {
                    document.getElementById("msg").innerText = "";
                }
                else{
                    document.getElementById("msg").innerText = "Validation error. Check input values.";
                }
        }

        function change_input3(){
            reflesh();
            document.getElementById("num_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("voltage_max_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("voltage_min_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("starttime_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("duration_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("relay1_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("relay2_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
            document.getElementById("relay3_" + document.getElementById("del_num").value).style.backgroundColor = "#FFC0CB"; //pink
        }

        function reflesh(){
            {% for i in range(read_db_list | length) %}
            document.getElementById("num_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("voltage_max_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("voltage_min_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("starttime_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("duration_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("relay1_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("relay2_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            document.getElementById("relay3_" + {{read_db_list[i][0]}}).style.backgroundColor = "#FFFFFF"; //white
            {% endfor %}

        }

        function validation(){
            let str;
            let ret2 = lvNormal;
        {% for i in range(read_db_list | length) %}//num
            str = document.getElementById("num_{{read_db_list[i][0]}}").value;
            if(Number.isNaN(Number(str))){
                document.getElementById("num_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }else{
                if(Number.isInteger(parseInt(str))){
                    document.getElementById("num_{{read_db_list[i][0]}}").value = parseInt(str);
                    document.getElementById("num_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
                }
                else{
                    document.getElementById("num_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }
           }
            //voltage_max
            str = document.getElementById("voltage_max_{{read_db_list[i][0]}}").value;
            if(Number.isNaN(Number(str))){
                document.getElementById("voltage_max_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }else{
                document.getElementById("voltage_max_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
            }
            //voltage_min
            str = document.getElementById("voltage_min_{{read_db_list[i][0]}}").value;
            if(Number.isNaN(Number(str))){
               document.getElementById("voltage_min_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
               ret2 = lvError;
            }else{
               document.getElementById("voltage_min_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
            }
            //starttime
            str = document.getElementById("starttime_{{read_db_list[i][0]}}").value;
            if(regfunc(RegExp('^[0-2][0-9][0-5][0-9]','g'), str) === lvError){
                document.getElementById("starttime_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }else{
                if(str.length !== 4){
                    document.getElementById("starttime_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }else{
                    document.getElementById("starttime_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
                }
            }
            //duration
            str = document.getElementById("duration_{{read_db_list[i][0]}}").value;
            if(regfunc(RegExp('^[0-9]{4}','g'), str) === lvError){
                document.getElementById("duration_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }else{
                if(str.length !== 4){
                    document.getElementById("duration_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }else{
                    document.getElementById("duration_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
                }
            }
            //relay1
            str = document.getElementById("relay1_{{read_db_list[i][0]}}").value;
            if(Number.isNaN(Number(str))){
                document.getElementById("relay1_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }
            else{
                if(Number.isInteger(parseInt(str))){
                    document.getElementById("relay1_{{read_db_list[i][0]}}").value = parseInt(str);
                    document.getElementById("relay1_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
                }else{
                    document.getElementById("relay1_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }
            }
            //relay2
            str = document.getElementById("relay2_{{read_db_list[i][0]}}").value;
            if(Number.isNaN(Number(str))) {
                document.getElementById("relay2_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }
            else{
                if(Number.isInteger(parseInt(str))){
                    document.getElementById("relay2_{{read_db_list[i][0]}}").value = parseInt(str);
                    document.getElementById("relay2_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
                }else{
                    document.getElementById("relay2_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }
            }
           //relay3
            str = document.getElementById("relay3_{{read_db_list[i][0]}}").value;
            if(Number.isNaN(Number(str))) {
                document.getElementById("relay3_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }
            else{
                if(Number.isInteger(parseInt(str))){
                    document.getElementById("relay3_{{read_db_list[i][0]}}").value = parseInt(str);
                    document.getElementById("relay3_{{read_db_list[i][0]}}").style.backgroundColor = "#FFFFFF"; //white
                }else{
                    document.getElementById("relay3_{{read_db_list[i][0]}}").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }
            }{% endfor %}
            return ret2;
       }

    function validation2(){
            let str;
            let ret2 = lvNormal;
           //voltage_max
            str = document.getElementById("voltage_max_new").value;
            if(str === ""){
                //error
                document.getElementById("voltage_max_new").style.backgroundColor = "#FF0000"; //red
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("voltage_max_new").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                } else {
                    document.getElementById("voltage_max_new").style.backgroundColor = "#FFFFFF"; //white
                }
            }
            //voltage_min
            str = document.getElementById("voltage_min_new").value;
            if(str === ""){
                //error
                document.getElementById("voltage_min_new").style.backgroundColor = "#FF0000"; //red
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("voltage_min_new").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                } else {
                    document.getElementById("voltage_min_new").style.backgroundColor = "#FFFFFF"; //white
                }
            }

            //starttime
            str = document.getElementById("starttime_new").value;
            if (regfunc(RegExp('^[0-2][0-9][0-5][0-9]', 'g'), str) === lvError) {
                document.getElementById("starttime_new").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            } else {
               if (str.length !== 4) {
                   document.getElementById("starttime_new").style.backgroundColor = "#FF0000"; //red
                   ret2 = lvError;
               } else {
                   document.getElementById("starttime_new").style.backgroundColor = "#FFFFFF"; //white
               }
            }

            //duration
            str = document.getElementById("duration_new").value;
            if(regfunc(RegExp('^[0-9]{4}','g'), str) === lvError){
                document.getElementById("duration_new").style.backgroundColor = "#FF0000"; //red
                ret2 = lvError;
            }else{
                if(str.length !== 4){
                    document.getElementById("duration_new").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                }else{
                    document.getElementById("duration_new").style.backgroundColor = "#FFFFFF"; //white
                }
            }
            //relay1
            str = document.getElementById("relay1_new").value;
            if(str === ""){
                //error
                document.getElementById("relay1_new").style.backgroundColor = "#FF0000"; //red
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("relay1_new").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                } else {
                    if (Number.isInteger(parseInt(str))) {
                        document.getElementById("relay1_new").value = parseInt(str);
                        document.getElementById("relay1_new").style.backgroundColor = "#FFFFFF"; //white
                    } else {
                        document.getElementById("relay1_new").style.backgroundColor = "#FF0000"; //red
                        ret2 = lvError;
                    }
                }
            }
            //relay2
            str = document.getElementById("relay2_new").value;
            if(str === ""){
                //error
                document.getElementById("relay2_new").style.backgroundColor = "#FF0000"; //red
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("relay2_new").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                } else {
                    if (Number.isInteger(parseInt(str))) {
                        document.getElementById("relay2_new").value = parseInt(str);
                        document.getElementById("relay2_new").style.backgroundColor = "#FFFFFF"; //white
                    } else {
                        document.getElementById("relay2_new").style.backgroundColor = "#FF0000"; //red
                        ret2 = lvError;
                    }
                }
            }
           //relay3
            str = document.getElementById("relay3_new").value;
            if(str === ""){
                //error
                document.getElementById("relay3_new").style.backgroundColor = "#FF0000"; //red
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("relay3_new").style.backgroundColor = "#FF0000"; //red
                    ret2 = lvError;
                } else {
                    if (Number.isInteger(parseInt(str))) {
                        document.getElementById("relay3_new").value = parseInt(str);
                        document.getElementById("relay3_new").style.backgroundColor = "#FFFFFF"; //white
                    } else {
                        document.getElementById("relay3_new").style.backgroundColor = "#FF0000"; //red
                        ret2 = lvError;
                    }
                }
            }
            return ret2;
       }

       function validation3(){
            let str;
            let ret3 = lvNormal;
           //voltage_max
            str = document.getElementById("voltage_max_new").value;
            if(str === ""){
                //pass
            }else{
                if(Number.isNaN(Number(str))){
                    document.getElementById("voltage_max_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                }else{
                    document.getElementById("voltage_max_new").style.backgroundColor = "#FFFFFF"; //white
                }
            }
            //voltage_min
            str = document.getElementById("voltage_min_new").value;
            if(str === ""){
                //pass
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("voltage_min_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                } else {
                    document.getElementById("voltage_min_new").style.backgroundColor = "#FFFFFF"; //white
                }
            }
            //starttime
            str = document.getElementById("starttime_new").value;
            if(str === ""){
                //pass
            }else {
                if (regfunc(RegExp('^[0-2][0-9][0-5][0-9]', 'g'), str) === lvError) {
                    document.getElementById("starttime_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                } else {
                    if (str.length !== 4) {
                        document.getElementById("starttime_new").style.backgroundColor = "#FF0000"; //red
                        ret3 = lvError;
                    } else {
                        document.getElementById("starttime_new").style.backgroundColor = "#FFFFFF"; //white
                    }
                }
            }
            //duration
            str = document.getElementById("duration_new").value;
            if(str === ""){
                //pass
            }else {
                if (regfunc(RegExp('^[0-9]{4}', 'g'), str) === lvError) {
                    document.getElementById("duration_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                } else {
                    if (str.length !== 4) {
                        document.getElementById("duration_new").style.backgroundColor = "#FF0000"; //red
                        ret3 = lvError;
                    } else {
                        document.getElementById("duration_new").style.backgroundColor = "#FFFFFF"; //white
                    }
                }
            }
            //relay1
            str = document.getElementById("relay1_new").value;
            if(str === ""){
                //pass
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("relay1_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                } else {
                    if (Number.isInteger(parseInt(str))) {
                        document.getElementById("relay1_new").value = parseInt(str);
                        document.getElementById("relay1_new").style.backgroundColor = "#FFFFFF"; //white
                    } else {
                        document.getElementById("relay1_new").style.backgroundColor = "#FF0000"; //red
                        ret3 = lvError;
                    }
                }
            }
            //relay2
            str = document.getElementById("relay2_new").value;
            if(str === ""){
                //pass
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("relay2_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                } else {
                    if (Number.isInteger(parseInt(str))) {
                        document.getElementById("relay2_new").value = parseInt(str);
                        document.getElementById("relay2_new").style.backgroundColor = "#FFFFFF"; //white
                    } else {
                        document.getElementById("relay2_new").style.backgroundColor = "#FF0000"; //red
                        ret3 = lvError;
                    }
                }
            }
           //relay3
            str = document.getElementById("relay3_new").value;
            if(str === ""){
                //pass
            }else {
                if (Number.isNaN(Number(str))) {
                    document.getElementById("relay3_new").style.backgroundColor = "#FF0000"; //red
                    ret3 = lvError;
                } else {
                    if (Number.isInteger(parseInt(str))) {
                        document.getElementById("relay3_new").value = parseInt(str);
                        document.getElementById("relay3_new").style.backgroundColor = "#FFFFFF"; //white
                    } else {
                        document.getElementById("relay3_new").style.backgroundColor = "#FF0000"; //red
                        ret3 = lvError;
                    }
                }
            }
            return ret3;
       }
       
        function regfunc(regexp, str){
            let matches = str.match(regexp);
            if(matches == null){
                return lvError;
            }else{
                return lvNormal;
            }
        }

        function load(){
                if (validation() === lvNormal) {
                    sendData();
                }
                else{
                    document.getElementById("msg").innerText = "Validation error. Check input values."
                }

        }
        function load2(){
                if (validation2() === lvNormal) {
                    sendData2();
                }
                else{
                    document.getElementById("msg").innerText = "Validation error. Check input values."
                }

        }
        function sendData() {
                   const form = document.forms["myForm"];

                   //add element name="action" depending on operation
                   let addelement = document.createElement('input');//
                   addelement.setAttribute('type', 'hidden');
                   addelement.setAttribute('name', 'action');
                   addelement.setAttribute('value', 'update');
                   document.myForm.appendChild(addelement);// add element

                   form.method = "POST";
                   form.action = "/epever_control/setting_post";
                   form.submit();
        }

        function sendData2() {
                   const form = document.forms["myForm2"];

                   //add element name="action" depending on operation
                   let addelement = document.createElement('input');//
                   addelement.setAttribute('type', 'hidden');
                   addelement.setAttribute('name', 'action');
                   addelement.setAttribute('value', 'add');
                   document.myForm2.appendChild(addelement);// add element

                   form.method = "POST";
                   form.action = "/epever_control/setting_post";
                   form.submit();
        }

        function deleteData(){
            //request delete record to server
            let number = document.getElementById("del_num").value;
            if(number === "0"){
                window.alert("num is not selected." + "\n" + "You need to select num from listbox.")
            }else {
                let result = window.confirm("Selected num:" + number + "\n" + "Do you delete this record ?");
                if (result) { //OK button clicked
                    const form = document.forms["myForm3"];
                    form.method = "POST";
                    form.action = "/epever_control/setting_post_delete";
                    form.submit();
                } else {
                    //Cancel button clicked
                    //pass
                    reflesh();
                }
            }
        }

    </script>
</head>
<body onload="onload()">
<a href="/epever_control/">Home</a> | <a href="/epever_control/power">Power Genaration</a> | <a href="/epever_control/control_history">Control History</a> | <a href="/epever_control/read_simple">Voltage and Current</a> | <a href="/epever_control/read_all">All Charge Controller Data</a> | <b>Setting</b> [<a href="/epever_control/setting">reload</a>] <br>

<b><font color="red"><label id="msg">{{msg}}</label></font></b><br>

    <form id="myForm" name="myForm">
        <table bgcolor="#000000">
        <tr bgcolor="#87CEFA">
            <td></td>
            <td>num</td>
            <td>voltage_max</td>
            <td>voltage_min</td>
            <td>starttime</td>
            <td>duration</td>
            <td>relay1</td>
            <td>relay2</td>
            <td>relay3</td>
        </tr>

        {% for i in range(read_db_list | length) %}
            {% if err_col[i] == 1 %}
            <tr bgcolor="#FF0000">
            {% else %}
            <tr bgcolor="#FFFFFF">
            {% endif %}
                {% if i == 0 %}<td rowspan="{{ read_db_list | length }}"><input type="button" id="update" name="update" value="update" onclick="load()"></td>{% endif %}
                <td><input type="text" id="num_{{read_db_list[i][0]}}" name="num_{{read_db_list[i][0]}}" value="{{read_db_list[i][0]}}" disabled><input type="hidden" id="num_{{read_db_list[i][0]}}" name="num_{{read_db_list[i][0]}}" value="{{read_db_list[i][0]}}"></td>
                <td><input type="text" id="voltage_max_{{read_db_list[i][0]}}" name="voltage_max_{{read_db_list[i][0]}}" value="{{read_db_list[i][1]}}" onblur="change_input()"></td>
                <td><input type="text" id="voltage_min_{{read_db_list[i][0]}}" name="voltage_min_{{read_db_list[i][0]}}" value="{{read_db_list[i][2]}}" onblur="change_input()"></td>
                <td><input type="text" id="starttime_{{read_db_list[i][0]}}" name="starttime_{{read_db_list[i][0]}}" value="{{read_db_list[i][3]}}" onblur="change_input()"></td>
                <td><input type="text" id="duration_{{read_db_list[i][0]}}" name="duration_{{read_db_list[i][0]}}" value="{{read_db_list[i][4]}}" onblur="change_input()"></td>
                <td><input type="text" id="relay1_{{read_db_list[i][0]}}" name="relay1_{{read_db_list[i][0]}}" value="{{read_db_list[i][5]}}" onblur="change_input()"></td>
                <td><input type="text" id="relay2_{{read_db_list[i][0]}}" name="relay2_{{read_db_list[i][0]}}" value="{{read_db_list[i][6]}}" onblur="change_input()"></td>
                <td><input type="text" id="relay3_{{read_db_list[i][0]}}" name="relay3_{{read_db_list[i][0]}}" value="{{read_db_list[i][7]}}" onblur="change_input()"></td>
            </tr>{% endfor %}
        </table>
    </form>
    <form id="myForm2" name="myForm2">
        <table bgcolor="#000000">
        <tr bgcolor="#87CEFA">
            <td></td>
            <td>voltage_max</td>
            <td>voltage_min</td>
            <td>starttime</td>
            <td>duration</td>
            <td>relay1</td>
            <td>relay2</td>
            <td>relay3</td>
        </tr>
        <tr bgcolor="#FFFFFF">
            <td><input type="button" id="add" name="add" value="add" onclick="load2()"></td>
            <td><input type="text" id="voltage_max_new" name="voltage_max_new" onblur="change_input2()"></td>
            <td><input type="text" id="voltage_min_new" name="voltage_min_new" onblur="change_input2()"></td>
            <td><input type="text" id="starttime_new" name="starttime_new" onblur="change_input2()"></td>
            <td><input type="text" id="duration_new" name="duration_new" onblur="change_input2()"></td>
            <td><input type="text" id="relay1_new" name="relay1_new" onblur="change_input2()"></td>
            <td><input type="text" id="relay2_new" name="relay2_new" onblur="change_input2()"></td>
            <td><input type="text" id="relay3_new" name="relay3_new" onblur="change_input2()"></td>
        </tr>
        </table>
    </form>
    <form id="myForm3" name="myForm3">
        delete record selected number<br>
        <select id="del_num" name="del_num" onchange="change_input3()">
            <option value="0">select num from below</option>
        {% for i in range(read_db_list | length) %}
            <option value="{{read_db_list[i][0]}}">{{read_db_list[i][0]}}</option>
        {% endfor %}
        </select>
        <input type="button" id="delete" name="delete" value="delete" onclick="deleteData()">
    </form>

    <br>
    <table bgcolor="#000000">
        <tr bgcolor="#87CEFA"><td>Active Serial Ports</td></tr>
        <tr bgcolor="#FFFFFF">
            <td>
                <select name="serial_ports">{% for port in serial_ports %}
                <option>{{port}}</option>{% endfor %}
                </select>
            </td>
        </tr>
    </table>

<br>{{retd}}
</body>
</html>